body {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: white;
}
.sistema {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 4px 2px rgb(168, 166, 166)
}
h1 {
  color: black;
  text-align: center;
}
.grupoInput {
  display: flex;
  margin-bottom: 20px;
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(195, 195, 199);
  border-radius: 4px;
  font-size: 16px;
}
button {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #466ea1;
}
#limpar {
  background-color: #e53e3e;
  border-radius: 6px;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}
#limpar:hover {
  background-color: #c53030;
}
#curtidas {
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(212, 212, 212);
  border-radius: 4px;
}


